.form-container {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: center;
  justify-content: center;
  margin: 0px 3px 0px 3px;
}

.form-container h1 {
  font-size: clamp(3.0rem, 3vw, 3.5rem);
}

.form-container input {
  padding: 3px 6px;
  font-size: var(--font-med);
  width: 100%;
  margin-bottom: 5px;
}

.form-container form {
  border: var(--borders);
  padding: 10px 25px 30px 25px;
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
}

.form-container .btn {
  width: 100%;
  /* margin-right: 0; */
  margin-top: 16px;
  align-self: flex-end;
}

.form-container label {
  font-weight: 600;
  font-size: 1.7rem;
  
}

@media only screen and (min-width: 720px) {
  .form-container {
    display: flex;
    padding: 10px 22px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
  }


  .form-container > form {
    width: 50%;
  }
}