@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap')
;
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */

/* font-family: 'Lalezar', cursive; */

.card-container {
 /* border:1px solid black ; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 
}

.card{
  

  width: 100%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  border: var(--borders);
  color: var(--text-color-dark);
  box-shadow: var(--card-box-shadow);
  background: rgb(80, 80, 80);
  background: linear-gradient(145deg, rgb(49, 49, 49) 0%, rgb(28, 28, 28) 44%, rgb(113, 113, 113) 100%);

  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img card-text";


}

.card-img-container{
  grid-area: img;
  
}

.card-text{
  display: grid;
  justify-self: center;
  margin-left: 10px;
  grid-area: card-text;
  font-family: 'Press Start 2P', cursive;

}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 5%;
}

.card-text > p {
  display: none;
}



@media only screen and (min-width: 768px){

  .card{
  width: 768px;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "img card-text";

  }
  .card-img-container{
    grid-area: img;
    
  }
  
  .card-text{
    display: grid;
    justify-self: center;
    margin-left: 10px;
    grid-area: card-text;
    font-family: 'Press Start 2P', cursive;
  }

  .card-img {
    width: 320px;
    height: 400px;
  }

  .card-text > p {
    display: flex;
  }
}